<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="./public/js/jquery-3.4.1.min.js" ></script>
	</head>
	<body>
		<div id='courese' onclick="showCourse()"><span id="m1">▶</span>课程管理</div>
		<div id='course_submenu' style="display: none; padding-left: 20px;">
			<p><a href="index.php?p=home&c=student&a=selectedCourse"  target="main" style=" text-decoration: none; ">已选课程</a></p>
			<p><a href="index.php?p=home&c=student&a=courseList"  target="main">课程列表</a></p>
			<p><a href="index.php?p=home&c=student&a=selectCourse"  target="main">查询课程</a></p>
			<p><a href="index.php?p=home&c=student&a=courseScore"  target="main">课程分数</a></p>
		</div>
	
	
		<div id='student'  onclick="showStudent()"><span id="m2">▶</span>个人信息管理</div>
		<div id='student_submenu' style="display: none; padding-left: 20px;">
			<p><a href="index.php?p=home&c=student&a=studentInfo"  target="main">个人信息</a></p>
			<p><a href="index.php?p=home&c=student&a=updatePassword"  target="main">密码修改</a></p>
			<!--<p><a href="index.php?p=home&c=student&a=getInfoBySno&v=student"  target="main"></p>-->
		</div>		

		<div id='teacher' onclick="showTeacher()"><span id="m3">▶</span>文件管理</div>
		<div id='teacher_submenu' style="display: none; padding-left: 20px;">
			<p><a href="index.php?p=home&c=student&a=studentWorkList"  target="main">课程作业</a></p>
			<p><a href="index.php?p=home&c=student&a=workUpload"  target="main">作业提交</a></p>
			<p><a href="index.php?p=home&c=student&a=teacherWorkList"  target="main">已上传作业</a></p>
			
			<p><a href="index.php?p=home&c=student&a=courseMaterialList"  target="main">课程资料</a></p>
		</div>
	</body>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<form  method="post" enctype="multipart/form-data" action="index.php?p=home&c=platform&a=logout" target="_top">
		
			<p><input type="submit" class="post_button" value="退出登录" />
			</p>
			<!--<textarea name="comment" required="required" placeholder="在此处输入留言"></textarea>-->
		</form>
	<script>
	function showCourse(){
		var t=$("#course_submenu").css("display");
		if(t=="none"){
			t="block";
			$("#course_submenu").css("display",t);
			$("#m1").replaceWith("<span id='m1'>▼</span>");
		}else{
			t="none";
			$("#course_submenu").css("display",t);
			$("#m1").replaceWith("<span id='m1'>▶</span>");
		}		
	}
	
	function showStudent(){
		var t=$("#student_submenu").css("display");
		if(t=="none"){
			t="block";
			$("#student_submenu").css("display",t);
			$("#m2").replaceWith("<span id='m2'>▼</span>");
		}else{
			t="none";
			$("#student_submenu").css("display",t);
			$("#m2").replaceWith("<span id='m2'>▶</span>");
		}		
	}
	
	function showTeacher(){
		var t=$("#teacher_submenu").css("display");
		if(t=="none"){
			t="block";
			$("#teacher_submenu").css("display",t);
			$("#m3").replaceWith("<span id='m3'>▼</span>");
		}else{
			t="none";
			$("#teacher_submenu").css("display",t);
			$("#m3").replaceWith("<span id='m3'>▶</span>");
		}		
	}
	</script>
	
</html>
