<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>学生主页</title>  
    <link rel="stylesheet" href="./public/css/frame/pintuer.css">
    <link rel="stylesheet" href="./public/css/frame/admin.css">
    <script src="./public/js/jquery-3.4.1.min.js"></script>  
    <link rel="icon" href="./public/img/student.png" type="image/x-icon"/>
</head>

<body style="background:url(./public/img/back2.jpg); background-repeat:no-repeat; text-align:center; background-size: 100%;">

<div class="header bg-main">
  <div style="float:left; ;" class="logo margin-big-left fadein-top">
    <h1><img src="./public/img/student.png" class="radius-circle rotate-hover" height="50" alt="" />	
    	<span style="color:goldenrod;text-align: center;font-weight:bold;">学生选课系统</span>

	<span style="color: rgb(114,83,52);">֍</span>

	<span style="color: rgb(69,137,148);font-weight:bold;">学生主页</span></h1>
  </div>
  <div style="float:right; margin-right:5%" class="head-l"> 
     <a class="button button-little " href="index.php?p=home&c=platform&a=logout" style="color: white;background-color: #D9534F;"><span class="icon-power-off"></span> 退出登录</a>
  </div>
</div>
<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-tasks"></span>菜单列表</strong>
  	


  
  </div>

  <h2 style="background:#759aa0"><font color="white"><span class="icon-cube"></span>课程管理 </font></h2>
  <ul style="display:block ;background:;" >
  	
    <li><a href="index.php?p=home&c=student&a=selectedCourse" target="right"><span class="icon-caret-right"></span>已选课程</a></li>  
    <li><a href="index.php?p=home&c=student&a=courseList" target="right"><span class="icon-caret-right"></span>课程列表</a></li>  
    <li><a href="index.php?p=home&c=student&a=selectCourse" target="right"><span class="icon-caret-right"></span>查询课程</a></li>  
    <li><a href="index.php?p=home&c=student&a=courseScore" target="right"><span class="icon-caret-right"></span>课程分数</a></li>   
  </ul>   
  

  <h2 style="background:#759aa0"><font color="white"><span class="icon-cube"></span>文件管理 </font></h2>
  
  <ul  style="background:">
    <li><a href="index.php?p=home&c=student&a=studentWorkList" target="right"><span class="icon-caret-right"></span>课程作业</a></li>
    <li><a href="index.php?p=home&c=student&a=workUpload"target="right"><span class="icon-caret-right"></span>作业提交</a></li>  
    <li><a href="index.php?p=home&c=student&a=teacherWorkList" target="right"><span class="icon-caret-right"></span>已上传作业</a></li>
    <li><a href="index.php?p=home&c=student&a=courseMaterialList" target="right"><span class="icon-caret-right"></span>课程资料</a></li>
  </ul> 
  

  <h2 style="background:#759aa0"><font color="white"><span class="icon-cube"></span>个人信息管理 </font></h2>
    
  <ul  style="background:">
    <li><a href="index.php?p=home&c=student&a=studentInfo" target="right"><span class="icon-caret-right"></span>个人信息</a></li>
    <li><a href="index.php?p=home&c=student&a=updatePassword"target="right"><span class="icon-caret-right"></span>密码修改</a></li>        
  </ul> 


  

</div>
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
});
</script>
<ul class="bread">
  <li style="color:#AC2925; font-size:15px; font-weight:bold"><?php echo @$sname; ?></span>&nbsp;&nbsp;<span style="color:#759aa0">欢迎您!</span></li>
</ul>
<div class="admin">
  <iframe scrolling="auto" rameborder="0" src="index.php?p=home&c=student&a=studentInfo" name="right" width="100%" height="100%"></iframe>
</div>


</body>
</html>