<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>教师界面</title>
<link rel="stylesheet" href="./public/css/home.css" />
</head>
<body>
<div id="box">
	<h1>作业评分</h1>
	<hr />
	<div class="postbox">
	<!--<form method="post" enctype="multipart/form-data" action="index.php?p=admin&c=goods&a=update">-->
		<form method="post" enctype="multipart/form-data" action="">
			<!--<ul class="userbox">
			
				<li>名称：</li><li class="user_name" ><input type="text" name="poster" /></li>
				<li>邮箱：</li><li class="user_email" ><input type="text" name="mail" /></li>
				<li class="user_post"><input type="submit" class="post_button" value="发布" /></li>
			</ul>-->
			
		
			<p><span class="sp1">分数：</span>
			   <span class="sp2">
			   <input type="text" name="score" size="7" placeholder="1-100" ></span>
			</p>
			<!--<p><span class="sp1">新密码：</span>
			   <span class="sp2">
			   <input type="text" name="newpass" size="7" placeholder="新密码"  /></span>
			</p>
			<p><span class="sp1">确认密码：</span>
			   <span class="sp2">
			   <input type="text" name="newpasstwice" size="7" placeholder="确认密码"  /></span>
			</p>
			-->
			
			<p><input type="submit" class="post_button" value="提交" />
			</p>
			<!--<textarea name="comment" required="required" placeholder="在此处输入留言"></textarea>-->
		</form>
	</div>

</div>
</body>
</html>
