<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>教师后台</title>
<link rel="stylesheet" href="./public/css/self/admin_self.css" />
<link rel="stylesheet" href="./public/css/self/style.css" />
</head>
<body>
<div id="box">
	<h1>已上传资料</h1>
	<hr />
	<!--<div id="info">欢迎您：admin <a href="index.php?p=admin&c=admin&a=logout">退出</a></div>-->
	<div id="comment">
<table id="box1" class="list" border=2><br><br></caption><tr><th>资料ID</th><th>资料名</th><th>课程号</th><th>上传教师</th><th>上传时间</th><th>操作</th></tr>

	<?php foreach($data as $v): ?>
	
	<tr id="comment" >
		<td align='center'><?php echo $v['id'] ?></td>
		<!--<td align='center' ><div style='text-align: center;' >
		<img width='100px'height='80px'   src='$arr[picture]' /></td>-->
		<td align='center'><?php echo $v['mname'] ?></td>
		<td align='center'><?php echo $v['cno'] ?></td>
		<td align='center'><?php echo $v['tno'] ?></td>
		<!--<td align='center'><?php echo $v['address'] ?></td>-->
		
		<!--<td align='center'><?php echo $v['address'] ?></td>-->
		<td align='center'><?php echo $v['uploaddate'] ?></td>
		
		<td align='center'>
		    <a href="index.php?p=home&c=teacher&a=deleteMaterial&id=<?php echo $v['id']; ?>" onclick="if(confirm('确实要删除吗？')) return true;else return false;"><button class='bt6'>删除</button></a>&nbsp;&nbsp;&nbsp;
		    <!--<a href="index.php?p=home&c=teacher&a=downloadMaterial&id=<?php echo $v['id']; ?>">下载</a>-->
		    <a href="<?php echo $v['address'] ?>"><button class='bt3'>下载</button></a>
		    
		    
			<!--<a href="index.php?p=home&c=student&a=cancelSelect&cno=<?php echo $v['cno']; ?>">退选</a>-->
		</td></tr>
		<!--<td align='center'><a href='amend_vege.php?id={$arr['id']}'><button class='bt3' >修改</button></a> | <a href='delete_vege.php?id={$arr['id']}'><button class='bt3' >删除</button></a></td></tr>";-->
	<?php endForeach; ?>

</table>

		
	</div>
		<div id="footer">
		<?php echo $pageList; ?>
	</div>

</div>
</body>
</html>
