<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>留言板</title>
<link rel="stylesheet" href="./public/css/home.css" />
<link rel="stylesheet" href="./public/css/self/admin_self.css" />
<link rel="stylesheet" href="./public/css/self/style.css" />
</head>
<body>
<div id="box">
	<h1>修改密码</h1>
	<hr />
	<div id="box" class="postbox">

		<form method="post" enctype="multipart/form-data" action="index.php?p=home&c=teacher&a=updatePassword">
			<p><span class="sp1">原密码：</span>
			   <span class="sp2">
			   <input type="text" name="oldpass" size="7" placeholder="原密码" ></span>
			</p>
			<br />
			<p><span class="sp1">新密码：</span>
			   <span class="sp2">
			   <input type="text" name="newpass" size="7" placeholder="新密码"  /></span>
			</p>
			<br />
			<p><span class="sp1">确认密码：</span>
			   <span class="sp2">
			   <input type="text" name="newpasstwice" size="7" placeholder="确认密码"  /></span>
			</p>
			<br />		
			<p><span class="bt3"><input type="submit" class="bt1" value="上传" /></span>
			
			</p>
	
		</form>
	</div>

</div>
</body>
</html>
