<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	</body>
</html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<link rel="stylesheet" href="./public/css/self/admin_self.css" />
<link rel="stylesheet" href="./public/css/self/style.css" />
</head>
<body>
<div id="box">
	<h1>课程列表</h1>
	<hr />
	<div id="comment">
<table id="box1" class="list" border=2><br><br></caption><tr><th>课程号</th><th>课程名</th><th>学分</th><th>授课教师</th><th>操作</th></tr>

	<?php foreach($data as $v): ?>
	
	<tr id="comment" >
		<td align='center'><?php echo $v['cno'] ?></td>
		<td align='center'><?php echo $v['cname'] ?></td>
		<td align='center'><?php echo $v['credit'] ?></td>
		<td align='center'><?php echo $v['tno'] ?></td>
		<td align='center'>
		    <a href="index.php?p=admin&c=CourseInfo&a=updateView&cno=<?php echo $v['cno']; ?>"><button class='bt3'>修改</button></a>&nbsp;&nbsp;&nbsp;
			<a href="index.php?p=admin&c=CourseInfo&a=delete&cno=<?php echo $v['cno']; ?>" onclick="return confirm('确认要删除吗？')"><button class='bt6'>删除</button></a>
		</td></tr>
	<?php endForeach; ?>

</table>
		
	</div>
	<div id="footer">
		<?php echo $pageList; ?>
	</div>
</div>
</body>
</html>
