<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>管理员主页</title>
<link rel="stylesheet" href="./public/css/home.css" />
<link rel="stylesheet" href="./public/css/self/admin_self.css" />
<link rel="stylesheet" href="./public/css/self/style.css" />
</head>
<body>
<div id="box">
	<h1>添加课程信息</h1>
	<hr />
	<div id="box" class="postbox">
		<form method="post" enctype="multipart/form-data" action="index.php?p=admin&c=CourseInfo&a=add">
			<p><span class="sp1">课程号：</span>
			   <span class="sp2">
			   <input type="text" name="cno" size="7"  /></span>
			</p>
			<br />
			<p><span class="sp1">课程名：</span>
			   <span class="sp2">
			   <input type="text" name="cname" size="7"  /></span>
			</p>
		<br />
			<p><span class="sp1">学分：</span>
			   <span class="sp2">
			   <input type="text" name="credit" size="7"  /></span>
			</p>
			<br />
			<p><span class="sp1">授课教师：</span>
			   <span class="sp2">
			   <input type="text" name="tno" size="7"  /></span>
			</p>
			<br />

			<p><span class="bt3"><input type="submit" class="bt1" value="提交" /></span>
			
			</p>
			
		</form>
	</div>

</div>
</body>
</html>
