<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<link href="./public/css/navigation.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="./public/css/home.css" />
		<link rel="stylesheet" href="./public/css/self/admin_self.css" />
<link rel="stylesheet" href="./public/css/self/style.css" />
		<title></title>
	</head>
	<body>
	<?php
	$v=$_GET['v'];
	
	if($v =='student'){
	$title = '学生';
	$no = '学号';
	$nu = 'sno';
	}
	if($v =='teacher'){
	$title = '教师';
	$no = '教工号';
	$nu = 'tno';
	}
	if($v =='course'){
	$title = '课程';
	$no = '课程号';
	$nu = 'cno';
	}
    ?>
    <div id="box" class="ah1">
	<h1><?php echo $title; ?>信息查询</h1>
	<hr />
	
	<form name="admin_add" method="post" enctype="multipart/form-data" action="index.php?p=admin&c=info&a=select&v=<?php echo $v; ?>&n=<?php echo $nu; ?>">
	
	<div id="box" class="ah1">
	<p><span class="sp1">根据<?php echo $no; ?>查询：</span><span class="sp2"><input name="no" type="text"  size="30"></span></p>
	<br />
	<p><span class="sp3"><input name="sel" class="bt1" type="submit" value="查询"></span></p>
	</div>
	</div>
	
	
</form>


	</body>
</html>
