<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="./public/js/jquery-3.4.1.min.js" ></script>
	</head>
	<body>
		<div id='courese' onclick="showCourse()"><span id="m1">▶</span>课程管理</div>
		<div id='course_submenu' style="display: none; padding-left: 20px;">
			<p>添加课程</p>
			<p>课程列表</p>
			<p>查询课程</p>
		</div>
		
		<div id='student'  onclick="showStudent()"><span id="m2">▶</span>学生信息管理</div>
		<div id='student_submenu' style="display: none; padding-left: 20px;">
			<p><a href="index.php?p=admin&c=StudentInfo&a=insert"  target="main">添加学生信息</a></p>
			<p><a href="index.php?p=admin&c=StudentInfo&a=list"  target="main">学生信息列表</a></p>
			<p>学生信息查询</p>
		</div>		
		
		<div id='teacher' onclick="showTeacher()"><span id="m3">▶</span>教师信息管理</div>
		<div id='teacher_submenu' style="display: none; padding-left: 20px;">
			<p>添加教师信息</p>
			<p>教师信息列表</p>
			<p>学生信息查询</p>
		</div>
	</body>
	<script>
	function showCourse(){
		var t=$("#course_submenu").css("display");
		if(t=="none"){
			t="block";
			$("#course_submenu").css("display",t);
			$("#m1").replaceWith("<span id='m1'>▼</span>");
		}else{
			t="none";
			$("#course_submenu").css("display",t);
			$("#m1").replaceWith("<span id='m1'>▶</span>");
		}		
	}
	
	function showStudent(){
		var t=$("#student_submenu").css("display");
		if(t=="none"){
			t="block";
			$("#student_submenu").css("display",t);
			$("#m2").replaceWith("<span id='m2'>▼</span>");
		}else{
			t="none";
			$("#student_submenu").css("display",t);
			$("#m2").replaceWith("<span id='m2'>▶</span>");
		}		
	}
	
	function showTeacher(){
		var t=$("#teacher_submenu").css("display");
		if(t=="none"){
			t="block";
			$("#teacher_submenu").css("display",t);
			$("#m3").replaceWith("<span id='m3'>▼</span>");
		}else{
			t="none";
			$("#teacher_submenu").css("display",t);
			$("#m3").replaceWith("<span id='m3'>▶</span>");
		}		
	}
	</script>
	
</html>
