<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	</body>
</html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>管理员主页</title>
<link rel="stylesheet" href="./public/css/self/admin_self.css" />
<link rel="stylesheet" href="./public/css/self/style.css" />
</head>
<body>
<div id="box">
	<h1>学生信息列表</h1>
	<hr />
	<div id="comment">
<table id="box1" class="list" border=2><br><br></caption><tr><th>学号</th><th>姓名</th><th>性别</th><th>出生日期</th><th>专业</th><th>班级</th><th>学分</th><th>操作</th></tr>
	<?php foreach($data as $v): ?>
	
	<tr id="comment" >
		<td align='center'><?php echo $v['sno'] ?></td>
		<td align='center'><?php echo $v['sname'] ?></td>
		<td align='center'><?php echo $v['ssex'] ?></td>
		<td align='center'><?php echo $v['sbirthday'] ?></td>
		<td align='center'><?php echo $v['speciality'] ?></td>
		<td align='center'><?php echo $v['sclass'] ?></td>
		<td align='center'><?php echo $v['tc'] ?></td>
		<td align='center'>
		    <a href="index.php?p=admin&c=StudentInfo&a=updateView&sno=<?php echo $v['sno']; ?>"><button class='bt3'>修改</button></a>&nbsp;&nbsp;&nbsp;
			<a href="index.php?p=admin&c=StudentInfo&a=delete&sno=<?php echo $v['sno']; ?>" onclick="return confirm('确认要删除吗？')"><button class='bt6'>删除</button></a>
		</td></tr>
	<?php endForeach; ?>

</table>
	</div>
	<div id="footer">
		<?php echo $pageList; ?>
	</div>
</div>
</body>
</html>
