<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	</body>
</html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>留言板后台</title>
<link rel="stylesheet" href="./public/css/admin.css" />
<link rel="stylesheet" href="./public/css/style.css" />
</head>
<body>
<div id="box">
	<h1>教师信息列表</h1>
	<!--<div id="info">欢迎您：admin <a href="index.php?p=admin&c=admin&a=logout">退出</a></div>-->
	<div id="comment">
	
		<!--<ul class="list">
			<li>作者：<?php echo $v['sname'] ?> 邮箱：<?php echo $v['sno']; ?> IP：<?php echo $v['tc']; ?>
				<span class="right">
				<a href="index.php?p=admin&c=StudentInfo&a=updateView&sno=<?php echo $v['sno']; ?>">修改</a>
				<a href="index.php?p=admin&c=StudentInfo&a=delete&sno=<?php echo $v['sno']; ?>">删除</a>
				</span>
			</li>-->
			
<table class="list" border=2><br><br></caption><tr><th>教工号</th><th>姓名</th><th>性别</th><th>出生日期</th><th>职称</th><th>所属学院</th><th>操作</th></tr>
	<?php foreach($data as $vv): ?>
	
	
	<tr id="comment" >
		<td align='center'><?php echo $vv['tno'] ?></td>
		<!--<td align='center' ><div style='text-align: center;' >
		<img width='100px'height='80px'   src='$arr[picture]' /></td>-->
		<td align='center'><?php echo $vv['tname'] ?></td>
		<td align='center'><?php echo $vv['tsex'] ?></td>
		<td align='center'><?php echo $vv['tbirthday'] ?></td>
		<td align='center'><?php echo $vv['title'] ?></td>
		<td align='center'><?php echo $vv['school'] ?></td>
		<!--<td align='center'><?php echo $vv['tc'] ?></td>-->
		<td align='center'>
		    <a href="index.php?p=admin&c=TeacherInfo&a=updateView&tno=<?php echo $vv['tno']; ?>">修改</a>
			<a href="index.php?p=admin&c=TeacherInfo&a=delete&tno=<?php echo $vv['tno']; ?>">删除</a>
		</td></tr>
		<!--<td align='center'><a href='amend_vege.php?id={$arr['id']}'><button class='bt3' >修改</button></a> | <a href='delete_vege.php?id={$arr['id']}'><button class='bt3' >删除</button></a></td></tr>";-->
	<?php endForeach; ?>

</table>
			<!--<li><?php echo $v['ssex']; ?></li>-->
			<!--<li>
				<span class="right">发表时间：<?php echo $v['date']; ?></span>
				管理员回复：<br /><?php echo $v['reply']; ?>
			</li>-->
		<!--</ul>-->
		
	</div>

</div>
</body>
</html>
